 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 1170px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #BG 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1000px;
	 height: 1170px;
	 z-index:1;
} 

 #logo 
{ 
	 left: 16px; 
	 top: 30px; 
	 position: absolute; 
	 width: 422px;
	 height: 127px;
	 z-index:2;
} 

 #Rectangle9 
{ 
	 left: 784px; 
	 top: 810px; 
	 position: absolute; 
	 width: 189px;
	 height: 39px;
	 z-index:3;
} 

 #Rectangle10 
{ 
	 left: 189px; 
	 top: 738px; 
	 position: absolute; 
	 width: 460px;
	 height: 43px;
	 z-index:4;
} 

 #Rectangle11 
{ 
	 left: 645px; 
	 top: 777px; 
	 position: absolute; 
	 width: 228px;
	 height: 34px;
	 z-index:5;
} 

 #Rectangle12 
{ 
	 left: 28px; 
	 top: 708px; 
	 position: absolute; 
	 width: 947px;
	 height: 132px;
	 z-index:6;
} 

 #buttons 
{ 
	 left: 18px; 
	 top: 160px; 
	 position: absolute; 
	 width: 266px;
	 height: 31px;
	 z-index:7;
} 

 #Rectangle1 
{ 
	 left: 17px; 
	 top: 195px; 
	 position: absolute; 
	 width: 1008px;
	 height: 43px;
	 z-index:8;
} 

 #CustomerLogInArea 
{ 
	 left: 348px; 
	 top: 167px; 
	 position: absolute; 
	 width: 177px;
	 height: 17px;
	 z-index:9;
} 

 #buttonscopy 
{ 
	 left: 798px; 
	 top: 160px; 
	 position: absolute; 
	 width: 198px;
	 height: 31px;
	 z-index:10;
} 

 #CustomerLogInAreacop 
{ 
	 left: 807px; 
	 top: 167px; 
	 position: absolute; 
	 width: 177px;
	 height: 17px;
	 z-index:11;
} 

 #CarRentals 
{ 
	 left: 30px; 
	 top: 168px; 
	 position: absolute; 
	 width: 95px;
	 height: 14px;
	 z-index:12;
} 

 #VansRentals 
{ 
	 left: 150px; 
	 top: 167px; 
	 position: absolute; 
	 width: 123px;
	 height: 14px;
	 z-index:13;
} 

 #QuotesBookings 
{ 
	 left: 27px; 
	 top: 207px; 
	 position: absolute; 
	 width: 153px;
	 height: 20px;
	 z-index:14;
} 

 #SpecialOffers 
{ 
	 left: 229px; 
	 top: 207px; 
	 position: absolute; 
	 width: 109px;
	 height: 20px;
	 z-index:15;
} 

 #RentalLocations 
{ 
	 left: 396px; 
	 top: 207px; 
	 position: absolute; 
	 width: 132px;
	 height: 16px;
	 z-index:16;
} 

 #Fleet 
{ 
	 left: 573px; 
	 top: 208px; 
	 position: absolute; 
	 width: 39px;
	 height: 16px;
	 z-index:17;
} 

 #FAQs 
{ 
	 left: 667px; 
	 top: 208px; 
	 position: absolute; 
	 width: 41px;
	 height: 19px;
	 z-index:18;
} 

 #RentalQuote 
{ 
	 left: 19px; 
	 top: 258px; 
	 position: absolute; 
	 width: 395px;
	 height: 435px;
	 z-index:19;
} 

 #Rectangle2 
{ 
	 left: 16px; 
	 top: 257px; 
	 position: absolute; 
	 width: 398px;
	 height: 61px;
	 z-index:20;
} 

 #Rectangle3 
{ 
	 left: 422px; 
	 top: 256px; 
	 position: absolute; 
	 width: 563px;
	 height: 436px;
	 z-index:21;
} 

 #Rectangle5 
{ 
	 left: 20px; 
	 top: 700px; 
	 position: absolute; 
	 width: 965px;
	 height: 155px;
	 z-index:22;
} 

 #Shape3 
{ 
	 left: 16px; 
	 top: 861px; 
	 position: absolute; 
	 width: 967px;
	 height: 8px;
	 z-index:23;
} 

 #Rectangle6 
{ 
	 left: 16px; 
	 top: 871px; 
	 position: absolute; 
	 width: 967px;
	 height: 300px;
	 z-index:24;
} 

 #Rectangle7 
{ 
	 left: 17px; 
	 top: 1132px; 
	 position: absolute; 
	 width: 966px;
	 height: 39px;
	 z-index:25;
} 

 #BudgetTruckRentals 
{ 
	 left: 36px; 
	 top: 874px; 
	 position: absolute; 
	 width: 147px;
	 height: 18px;
	 z-index:26;
} 

 #Makeacarbooking 
{ 
	 left: 37px; 
	 top: 1007px; 
	 position: absolute; 
	 width: 111px;
	 height: 15px;
	 z-index:27;
} 

 #Viewchangeorcancelac 
{ 
	 left: 36px; 
	 top: 1026px; 
	 position: absolute; 
	 width: 139px;
	 height: 27px;
	 z-index:28;
} 

 #Retrieverentalinvoic 
{ 
	 left: 38px; 
	 top: 1061px; 
	 position: absolute; 
	 width: 125px;
	 height: 12px;
	 z-index:29;
} 

 #BudgetTruckTips 
{ 
	 left: 37px; 
	 top: 1093px; 
	 position: absolute; 
	 width: 123px;
	 height: 18px;
	 z-index:30;
} 

 #CommercialVehicleFle 
{ 
	 left: 246px; 
	 top: 875px; 
	 position: absolute; 
	 width: 136px;
	 height: 28px;
	 z-index:31;
} 

 #Trucks 
{ 
	 left: 247px; 
	 top: 918px; 
	 position: absolute; 
	 width: 37px;
	 height: 12px;
	 z-index:32;
} 

 #Utes 
{ 
	 left: 249px; 
	 top: 937px; 
	 position: absolute; 
	 width: 27px;
	 height: 11px;
	 z-index:33;
} 

 #Vans 
{ 
	 left: 250px; 
	 top: 955px; 
	 position: absolute; 
	 width: 28px;
	 height: 11px;
	 z-index:34;
} 

 #Buses 
{ 
	 left: 251px; 
	 top: 972px; 
	 position: absolute; 
	 width: 32px;
	 height: 11px;
	 z-index:35;
} 

 #AllBudgetcommercialv 
{ 
	 left: 249px; 
	 top: 992px; 
	 position: absolute; 
	 width: 128px;
	 height: 23px;
	 z-index:36;
} 

 #SpecialOffersandDeal 
{ 
	 left: 248px; 
	 top: 1048px; 
	 position: absolute; 
	 width: 125px;
	 height: 28px;
	 z-index:37;
} 

 #Rectangle8 
{ 
	 left: -5px; 
	 top: -20px; 
	 position: absolute; 
	 width: 1016px;
	 height: 48px;
	 z-index:38;
} 

 #GreatRatesandCheapTr 
{ 
	 left: 356px; 
	 top: 12px; 
	 position: absolute; 
	 width: 633px;
	 height: 15px;
	 z-index:39;
} 

 #Makeatruckbooking 
{ 
	 left: 37px; 
	 top: 902px; 
	 position: absolute; 
	 width: 123px;
	 height: 15px;
	 z-index:40;
} 

 #Retrieverentalinvoic_0 
{ 
	 left: 37px; 
	 top: 920px; 
	 position: absolute; 
	 width: 126px;
	 height: 12px;
	 z-index:41;
} 

 #BudgetCarRentals 
{ 
	 left: 37px; 
	 top: 981px; 
	 position: absolute; 
	 width: 131px;
	 height: 18px;
	 z-index:42;
} 

 #Viewchangeorcancelat 
{ 
	 left: 36px; 
	 top: 937px; 
	 position: absolute; 
	 width: 139px;
	 height: 29px;
	 z-index:43;
} 

 #Rectangle4 
{ 
	 left: 423px; 
	 top: 256px; 
	 position: absolute; 
	 width: 562px;
	 height: 45px;
	 z-index:44;
} 

 #LatestSpecialOffers 
{ 
	 left: 429px; 
	 top: 263px; 
	 position: absolute; 
	 width: 240px;
	 height: 29px;
	 z-index:45;
} 

 #viewspecialoffers 
{ 
	 left: 866px; 
	 top: 271px; 
	 position: absolute; 
	 width: 107px;
	 height: 15px;
	 z-index:46;
} 

 #Layer3 
{ 
	 left: 842px; 
	 top: 270px; 
	 position: absolute; 
	 width: 24px;
	 height: 17px;
	 z-index:47;
} 

 #GetaRentalQuote 
{ 
	 left: 27px; 
	 top: 269px; 
	 position: absolute; 
	 width: 283px;
	 height: 37px;
	 z-index:48;
} 

 #VehicleType 
{ 
	 left: 36px; 
	 top: 330px; 
	 position: absolute; 
	 width: 90px;
	 height: 17px;
	 z-index:49;
} 

 #VechicalType 
{ 
	 left: 34px; 
	 top: 351px; 
	 position: absolute; 
	 width: 187px;
	 height: 28px;
	 z-index:50;
} 

 #pickupdate 
{ 
	 left: 34px; 
	 top: 428px; 
	 position: absolute; 
	 width: 187px;
	 height: 28px;
	 z-index:51;
} 

 #dropoffdate 
{ 
	 left: 34px; 
	 top: 484px; 
	 position: absolute; 
	 width: 187px;
	 height: 28px;
	 z-index:52;
} 

 #dropoffdatecopy 
{ 
	 left: 34px; 
	 top: 563px; 
	 position: absolute; 
	 width: 377px;
	 height: 28px;
	 z-index:53;
} 

 #Shape1copy 
{ 
	 left: 381px; 
	 top: 564px; 
	 position: absolute; 
	 width: 29px;
	 height: 26px;
	 z-index:54;
} 

 #Iwillreturnvehicalto 
{ 
	 left: 66px; 
	 top: 599px; 
	 position: absolute; 
	 width: 281px;
	 height: 14px;
	 z-index:55;
} 

 #pickuptime 
{ 
	 left: 246px; 
	 top: 429px; 
	 position: absolute; 
	 width: 163px;
	 height: 26px;
	 z-index:56;
} 

 #dropofftime 
{ 
	 left: 246px; 
	 top: 485px; 
	 position: absolute; 
	 width: 163px;
	 height: 26px;
	 z-index:57;
} 

 #DropoffDate 
{ 
	 left: 35px; 
	 top: 463px; 
	 position: absolute; 
	 width: 100px;
	 height: 18px;
	 z-index:58;
} 

 #Time 
{ 
	 left: 246px; 
	 top: 464px; 
	 position: absolute; 
	 width: 42px;
	 height: 13px;
	 z-index:59;
} 

 #PickupDate 
{ 
	 left: 37px; 
	 top: 407px; 
	 position: absolute; 
	 width: 91px;
	 height: 18px;
	 z-index:60;
} 

 #Time_0 
{ 
	 left: 246px; 
	 top: 408px; 
	 position: absolute; 
	 width: 39px;
	 height: 14px;
	 z-index:61;
} 

 #Shape1copy_0 
{ 
	 left: 191px; 
	 top: 352px; 
	 position: absolute; 
	 width: 29px;
	 height: 26px;
	 z-index:62;
} 

 #Shape1 
{ 
	 left: 0px; 
	 top: 391px; 
	 position: absolute; 
	 width: 416px;
	 height: 1px;
	 z-index:63;
} 

 #RentaloffersAustrali 
{ 
	 left: 191px; 
	 top: 706px; 
	 position: absolute; 
	 width: 378px;
	 height: 146px;
	 z-index:64;
} 

 #Layer4 
{ 
	 left: 25px; 
	 top: 711px; 
	 position: absolute; 
	 width: 159px;
	 height: 113px;
	 z-index:65;
} 

 #Layer5 
{ 
	 left: 884px; 
	 top: 708px; 
	 position: absolute; 
	 width: 93px;
	 height: 75px;
	 z-index:66;
} 

 #Shape1copy2 
{ 
	 left: -1px; 
	 top: 529px; 
	 position: absolute; 
	 width: 418px;
	 height: 3px;
	 z-index:67;
} 

 #RentalLocation 
{ 
	 left: 37px; 
	 top: 543px; 
	 position: absolute; 
	 width: 114px;
	 height: 14px;
	 z-index:68;
} 

 #Shape2 
{ 
	 left: 245px; 
	 top: 323px; 
	 position: absolute; 
	 width: 30px;
	 height: 27px;
	 z-index:69;
} 

 #Shape2copy 
{ 
	 left: 245px; 
	 top: 355px; 
	 position: absolute; 
	 width: 30px;
	 height: 27px;
	 z-index:70;
} 

 #Shape2copy2 
{ 
	 left: 33px; 
	 top: 592px; 
	 position: absolute; 
	 width: 30px;
	 height: 27px;
	 z-index:71;
} 

 #IliveinAustralia 
{ 
	 left: 278px; 
	 top: 327px; 
	 position: absolute; 
	 width: 111px;
	 height: 14px;
	 z-index:72;
} 

 #25Iam 
{ 
	 left: 279px; 
	 top: 361px; 
	 position: absolute; 
	 width: 55px;
	 height: 15px;
	 z-index:73;
} 

 #TruckRentalLocations 
{ 
	 left: 434px; 
	 top: 875px; 
	 position: absolute; 
	 width: 86px;
	 height: 28px;
	 z-index:74;
} 

 #AboutBudgetFastbreak 
{ 
	 left: 778px; 
	 top: 875px; 
	 position: absolute; 
	 width: 131px;
	 height: 233px;
	 z-index:75;
} 

 #AustraliaCanberraSyd 
{ 
	 left: 436px; 
	 top: 922px; 
	 position: absolute; 
	 width: 88px;
	 height: 128px;
	 z-index:76;
} 

 #FrequentlyAskedQuest 
{ 
	 left: 577px; 
	 top: 876px; 
	 position: absolute; 
	 width: 121px;
	 height: 30px;
	 z-index:77;
} 

 #Layer6 
{ 
	 left: 845px; 
	 top: 767px; 
	 position: absolute; 
	 width: 130px;
	 height: 82px;
	 z-index:78;
} 

 #Rectangle13 
{ 
	 left: 577px; 
	 top: 704px; 
	 position: absolute; 
	 width: 399px;
	 height: 143px;
	 z-index:79;
} 

 #Thehasslefreeservice 
{ 
	 left: 585px; 
	 top: 714px; 
	 position: absolute; 
	 width: 245px;
	 height: 42px;
	 z-index:80;
} 

 #MakingabookingRestri 
{ 
	 left: 577px; 
	 top: 918px; 
	 position: absolute; 
	 width: 117px;
	 height: 135px;
	 z-index:81;
} 
